
<div class="row">
    <div class="col-md-3 filter"> 
        <div class="card" data-toggle="collapse" data-target="#collapseFilterMain"  (click)="mainfilter = !mainfilter">
            <div class="card-body filter">
             <label class="card-title filterMain ">Filtros  <i class="filter-collapse visibleFilter" [ngClass]="{'col': mainfilter}"  > </i></label>
         </div>
        </div>
        <div class="collapse show" id="collapseFilterMain">
            <div class="card"  >
                <div class="card-body">
                    <div class="row" data-toggle="collapse" data-target="#collapseFilterName" (click)="nombreFilter = !nombreFilter">
                         <div class="col-10 form-row ">
                            <label class="searchFilter"> </label>
                            <label class="card-title title">Nombre del Hotel</label>
                         </div>
                        <div class="col-2">
                         <a>   <i class="filter-collapse "  [ngClass]="{'col': nombreFilter}"  > </i></a> 
                        </div>
                       
                    </div>
                   <div class="form-row collapse show"  id="collapseFilterName">
                           <input [(ngModel)]="filterName"  name="thing" placeholder="Ingrese el nombre del hotel"
                           type="text"> 
                           <button type="button" class="btn btn-primary aceptarName"  (click)="nameFilter()"  >Aceptar</button>
                   </div>
   
               </div>
            </div>
            <div class="card">
               <div class="card-body">
                   <div class="row" data-toggle="collapse" data-target="#collapseStar" (click)="starcollapseFilter = !starcollapseFilter">
                    <div class="col-10 form-row ">
                           <label class="starFilter"></label>
                           <label class="card-title title">Estrellas</label>
                     </div>
                     <div class="col-2">
                        <i class="filter-collapse "  [ngClass]="{'col': starcollapseFilter}"  > </i>
                     </div>
                          
        
                    </div>
                 
                   <ul class="ulFilterstar collapse show" id="collapseStar">
                     <li>
                         <input type="checkbox" name="optionsStar"  class="checkboxfilter" (click)="starFilter(0)" />
                         <label> Todas las estrellas </label>
                        </li>
                     <li *ngFor="let value of listStart">
                         <input  class="checkboxfilter" type="checkbox"  (click)="starFilter(value)"/>
                         <app-star class="starFilterList"   [starTotal]="value"> </app-star>
                     </li>
                   </ul>
                  
              
               </div>
            </div>
        </div>
          
        
    </div>

    <div class="col-md-9">
            <div *ngIf=" dataHospital && dataHospital.length <= 0" class="mt-4 row">
                    <div class="col-12">
                        <div class="alert alert-warning">
                        no se encontraron registros
                        </div>
                    </div>
                </div>

            <div class="card hotel"  *ngFor="let item of dataHospital"> 
                    <div class="card-body row">
                       <div class="col-md-9 row"> 
                          <div class="col-md-4 col-12"> 
                             <img  [src]="'assets/images/'+ item.image"  class="hotelImg" >
                          </div>
                          <div class="col-md-8"> 
                             <label class="title"> {{item.name}} </label> 
                             <app-star [starTotal]="item.stars"> </app-star>
                             <app-aminities [listAmenities]="item.amenities"> </app-aminities>
                         </div>
                       </div>
                       <div class="vertical_dotted_line"></div>
                       <div class="col-md-3 text-center">                  
                          <p class="text-center">Precio por noche por Habitacion</p>
                          <label class="price"> <span class="ars">ARS </span>  <strong class="arsvalue"> {{item.price | number}} </strong> </label>
                          <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-lg btn-block">Ver Hotel</button>
                          </div>
                          
                       </div>
                    </div>
           </div>
    </div>
</div>