@mixin amenities
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

.bathrobes {
    background-image: url(assets/icons/amenities/bathrobes.svg);
    @include amenities;
}
.bathtub{
    background-image: url(assets/icons/amenities/bathtub.svg);
    @include amenities;
}

.beach-pool-facilities{
    background-image: url(assets/icons/amenities/beach-pool-facilities.svg);
    @include amenities;
}
.beach{
    background-image: url(assets/icons/amenities/beach.svg);
    @include amenities;
}

.business-center{
    background-image: url(assets/icons/amenities/business-center.svg);
    @include amenities;
}
.children-club{
    background-image: url(assets/icons/amenities/children-club.svg);
    @include amenities;
}

.coffe-maker{
    background-image: url(assets/icons/amenities/coffe-maker.svg);
    @include amenities;
}
.deep-soaking-bathtub{
    background-image: url(assets/icons/amenities/deep-soaking-bathtub.svg);
    @include amenities;
}

.fitness-center{
    background-image: url(assets/icons/amenities/fitness-center.svg);
    @include amenities;
}
.kitchen-facilities{
    background-image: url(assets/icons/amenities/kitchen-facilities.svg);
    @include amenities;
}
.newspaper{
    background-image: url(assets/icons/amenities/newspaper.svg);
    @include amenities;
}

.nightclub{
    background-image: url(assets/icons/amenities/nightclub.svg);
    @include amenities;
}

.restaurant{
    background-image: url(assets/icons/amenities/restaurant.svg);
    @include amenities;
}
.safety-box{
    background-image: url(assets/icons/amenities/safety-box.svg);
    @include amenities;
}
.separate-bredroom{
    background-image: url(assets/icons/amenities/separate-bredroom.svg);
    @include amenities;
}
.sheets{
    background-image: url(assets/icons/amenities/sheets.svg);
    @include amenities;
}