@import "colores";
body {
    background-color: #e4e4e9;
}

ul {
    list-style-type: none;
}

a {
    color: $azulClaro;
}
.header {
    background-color: $azulOscuro; 
}

.searchFilter {
    background-image: url(assets/icons/filters/search.svg);
    width: 20px;
    height: 20px;
    margin-right: 8px;

}
.starFilter {
    background-image: url(assets/icons/filters/starblue.svg);
    width: 20px;
    height: 20px;
    margin-right: 8px;
}


// star 
.starIcon {
    background-image: url(assets/icons/filters/star.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
}
.starUl li {
    display: inline;
}

.starUl {
    padding-left: 0;
}

.amenitiesUl{
    padding-left: 0;
}
.amenitiesUl li{
    display: inline;
    margin-right: 8px;
}


// imagenes hotel 
.hotelImg {
    width: 100%;
    height: 200px;
}

.title {
    color: $azulClaro;
    font-size: 12pt;
}


.card.hotel {
    margin-bottom: 14px ;
}

.filter {
    margin-bottom: 12px;
}

.card-body.filter{
    padding-bottom: 0px;
}

.starFilterList {
    display: inline-block;
}

.ars{
    font-size: 26px;
    color: $arsColor;
}

.arsvalue{
    font-size: 32px;
    color: $arsColor;
}
.checkboxfilter{
    margin-right: 6px;
}

.aceptarName {
    margin-left: 6px;
}

.visibleFilter {
    display: inline;
}

@media screen  and (min-width: 701px){
    .vertical_dotted_line
    {
        border-top: 0px;
        border-left: 2px dotted rgb(153, 151, 151);
        min-height: 100px;
    } 
   


}

@media screen and (max-width: 700px) and (min-width: 300px) 
{
    .vertical_dotted_line
    {
        border-top: 2px dotted rgb(153, 151, 151);
        border-left: 0px;
        min-width: 100%;
    } 
    .filterMain{
        display: table;
        margin: auto;
        color: $azulClaro;
    }
}
.ulFilterstar{
    padding-left: 0;
 
}


.filter-collapse.col:after {
    transform: rotate(0deg);
 }

 .filter-collapse:after {
    transition: transform .35s ease, opacity .35s ease;
    opacity: .5;
    
 }
 .filter-collapse::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    background: inherit;
    color: $azulClaro;
 }

 .filter-collapse:after {
    transform: rotate(-180deg);
 }

 
