<nav class="header mb-4 navbar navbar-dark navbar-expand-md">
    <a [routerLink]="['/home']" class="navbar-brand">
        <img src="./assets/images/logo-almundo.svg"  >
    </a>
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#topNavbarCollapse" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbarCollapse">
        <ul class="mr-auto navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/almundotest']" class="nav-link">Prueba Almundo</a>
            </li>
        </ul>

    </div>
</nav>